*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background: #fafafa;
    color: #262626;
}

/* NAVBAR */
.navbar{
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 14px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    font-weight: 600;
}

.nav-right a{
    margin-left: 20px;
    text-decoration: none;
    color: #262626;
    font-weight: 500;
}

/* MAIN */
.main-container{
    max-width: 900px;
    margin: 30px auto;
}

/* CARD */
.card{
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 15px;
}

.card img{
    width: 100%;
    border-radius: 4px;
}

.card h4{
    margin: 10px 0;
}

.actions{
    margin-top: 10px;
}

.actions a{
    margin-right: 15px;
    text-decoration: none;
    font-weight: 600;
}

/* FORM */
.form-box{
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
}

.form-box input,
.form-box textarea,
.form-box button{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.form-box button{
    background: #0095f6;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* PROFILE */
.profile-header{
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    margin-bottom: 25px;
}

.profile-stats{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
