<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Instagram Mini{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <h2>Instagram Mini</h2>
        </div>

        <div class="nav-right">
            <a href="/feed">Feed</a>
            <a href="/create">Create</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <div class="main-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
